/dependency-inversion-principle/bad_example/__pycache__
/dependency-inversion-principle/good_example/__pycache__
/liskov-substitutional-principle/good_example/__pycache__
/design_pattern/observer_design_pattern/with_pattern/__pycache__
/design_pattern/strategy_design_pattern/without_pattern/__pycache__
